python-telegram-bot==20.3  # Библиотека для работы с Telegram Bot API
requests==2.31.0           # Для запросов к внешним API (например, для получения погоды)
Flask==2.3.3    
pytz==2024.2           # Для веб-сервера (если бот использует webhook)
